In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Dataset10.csv')
data.head()

  Day   Outlook Temperature Humidity    Wind PlayTennis
0  D1     Sunny         Hot     High    Weak         No
1  D2     Sunny         Hot     High  Strong         No
2  D3  Overcast         Hot     High    Weak        Yes
3  D4      Rain        Mild     High    Weak        Yes
4  D5      Rain        Cool   Normal    Weak        Yes

In [3]:
data = data.drop(['Day'], axis = 1)
data.head()

    Outlook Temperature Humidity    Wind PlayTennis
0     Sunny         Hot     High    Weak         No
1     Sunny         Hot     High  Strong         No
2  Overcast         Hot     High    Weak        Yes
3      Rain        Mild     High    Weak        Yes
4      Rain        Cool   Normal    Weak        Yes

In [4]:
attribute=np.array(data)[:,:-1]
print(attribute)

[['Sunny' 'Hot' 'High' 'Weak']
 ['Sunny' 'Hot' 'High' 'Strong']
 ['Overcast' 'Hot' 'High' 'Weak']
 ['Rain' 'Mild' 'High' 'Weak']
 ['Rain' 'Cool' 'Normal' 'Weak']
 ['Rain' 'Cool' 'Normal' 'Strong']
 ['Overcast' 'Cool' 'Normal' 'Strong']
 ['Sunny' 'Mild' 'High' 'Weak']
 ['Sunny' 'Cool' 'Normal' 'Weak']
 ['Rain' 'Mild' 'Normal' 'Weak']
 ['Sunny' 'Mild' 'Normal' 'Strong']
 ['Overcast' 'Mild' 'High' 'Strong']
 ['Overcast' 'Hot' 'Normal' 'Weak']
 ['Rain' 'Mild' 'High' 'Strong']]

In [5]:
target=np.array(data)[:,-1]
print(target)

['No' 'No' 'Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'No']

In [11]:
def train(att,tar):
 for i,val in enumerate(tar):
     if val=='Yes':
         specific_h=att[i].copy()
         break
 for i,val in enumerate(att):
     if tar[i]=='Yes':
         for x in range(len(specific_h)):
             if val[x]!=specific_h[x]:
                 specific_h[x]='?'
             else:
                 pass
 return specific_h
print(train(attribute,target))

['?' '?' '?' '?']